canvas {
  margin-top: 2em;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

code {
  display: block;
}

.mb {
  margin-bottom: 1em;
}

.mr {
  margin-right: 1em;
}

.w-3 {
  width: 3em;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

#grid {
    margin: auto 1em;
}

input[type=range]::-webkit-slider-runnable-track {
    background: white;
    border-radius: 6px;
    box-sizing: border-box;
}

#tabs {
  display: flex;
  justify-content: space-between;
}

#tabs > .tab {
  text-decoration: underline;
}

#tabs > .tab:not(.active) {
  text-decoration: none;
  cursor: pointer;
  color: lightgray;
  transition: color .2s;
}

canvas:not(.active) {
  display: none !important;
}
